{
  "extends":"airbnb",
  "parserOptions":{
      "ecmaVersion":6
  },
  "env":{
      "node":true,
      "browser":true,
      "es6":true
  },
  "rules":{
      "quotes": ["error", "single", { "avoidEscape": true }],
      "no-underscore-dangle": "off",
      "no-console":"off",
      "arrow-parens":"off",
      "comma-dangle":"warn",
      "function-paren-newline":"warn",
      "no-use-before-define": "off"
  }
}